.mkomazi-package__container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

.mkomazi-package__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  height: 98%;
}

.mkomazi-package__card {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: var(--dark-slate-gray);
  justify-content: center;
  align-items: center;
}

.mkomazi-package__card .card__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  border: double 10px var(--white);
  border-radius: 50px;
  overflow: hidden;
}

.mkomazi-package__card .card__container .card-bcg {
  display: flex;
  width: 100%;
  height: 85%;
  background: url(../../assets/mkomazi_rhino_bcg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--white);
}

.mkomazi-package__card .card__container .card-footer {
  display: flex;
  width: 100%;
  height: 15%;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
}

.mkomazi-package__card .card__container .card-footer .card-footer-text {
  font-size: 1.7rem;
  font-family: "Satisfy", cursive;
  text-align: center;
  color: var(--dark-slate-gray);
  font-weight: 500;
}

.mkomazi-package__trips {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.mkomazi-package__trips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 97%;
}

.mkomazi-package__trips-container .trips-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15vh;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.mkomazi-package__trips-container .trips-header h1 {
  color: var(--white);
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 1.8rem;
}

.mkomazi-package__trips-container .trips-header p {
  color: var(--white);
  letter-spacing: 4px;
  font-size: 15px;
}

.mkomazi-package__trips-container .mkomazi-trips_body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin-top: 1%;
}

.mkomazi-package__trips-container .mkomazi-trips_body .mkomazi-trips_body-item {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin-top: 1%;
  height: 25vh;
}

.mkomazi-package__trips-container .mkomazi-trips_body .mkomazi-trips_body-item .trips-body_item-header {
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
}

.mkomazi-trips_body-item .trips-body_item-header h6 {
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 2px;
}

.mkomazi-package__trips-container .mkomazi-trips_body .mkomazi-trips_body-item .trips-body_item-header .item-count {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 999px;
  justify-content: center;
  margin-left: 1%;
  color: var(--dark-green);
  font-weight: 700;
}

.mkomazi-trips_body-item .trips-body_item-text {
  color: var(--white);
  width: 100%;
  height: 14vh;
  display: flex;
  margin-top: 1%;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 14px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .mkomazi-package__container {
    flex-direction: column-reverse;
  }

  .mkomazi-package__wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .mkomazi-package__trips {
    width: 100%;
    height: 50%;
  }

  .mkomazi-package__card {
    width: 100%;
    height: 48%;
  }

  .mkomazi-package__trips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
  }

  .mkomazi-trips_body .mkomazi-trips_body-item {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: 0px;
    height: calc(1 * 2vw);
    margin-bottom: 0px;
  }

  .mkomazi-trips_body-item .trips-body_item-header {
    height: 3vh;
  }

  .mkomazi-package__trips-container .trips-header {
    height: 6vh;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .mkomazi-package__trips-container .trips-header h1 {
    letter-spacing: 3px;
    font-size: calc(2 * 2vw);
  }

  .mkomazi-trips_body-item .trips-body_item-header h6 {
    font-size: var(1 * 2vw);
    letter-spacing: 1px;
  }

  .mkomazi-package__trips-container .mkomazi-trips_body .mkomazi-trips_body-item .trips-body_item-header .item-count {
    width: 25px;
    height: 25px;
  }

  .mkomazi-package__card .card__container {
    width: 50%;
    height: 80%;
  }

  .mkomazi-trips_body-item .trips-body_item-text {
    height: calc(8 * 2vw);
    margin-top: 1%;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .mkomazi-package__card .card__container .card-footer {
    width: 100%;
    height: 15%;
  }

  .mkomazi-package__card .card__container .card-footer .card-footer-text {
    font-size: calc(1.7 * 2vw);
    text-align: center;
    color: var(--dark-slate-gray);
    font-weight: 500;
  }
}